  <div id="f">
    <div id="f-">
      <div id="ft">
        <ul>
          <li>Program wspierają</li>
        </ul>
        <div class="partner_slider">
            <ol>
            {exp:channel:entries dynamic="no" channel="partners" limit="1"}
                {logo}
                    <li><a href="{logo_adress}" title="{logo_title}" rel="external" class="partner_ico" style="background-image: url('{logo_image}');">1{logo_title}</a></li>
                {/logo}
            {/exp:channel:entries}
            </ol>    
        </div>    
      </div>
      <div id="fb">
        <p>Copyright &copy Spiro.pl 2012. Wszelkie prawa zastrzeżone</p>
        <p>00-078 Warszawa, Pl. Piłsudskiego 3, bud. Metropolitan, wejście nr 3</p>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>
<script type="text/javascript" src="/javascripts/jcarousellite_1.0.1.js"></script>
<script type="text/javascript" src="/javascripts/connectmedica.js"></script>
</body>
</html>