<div id="t">
  <div id="t-">
    <div id="tl">
      <h1><a href="/" title="Spiro">Spiro</a></h1>
    </div>
    <div id="tr">
      <ul>
        <li class="search_form">
          {exp:search:simple_form channel="pages" result_page="wyniki" no_result_page="brak_wynikow" search_in="everywhere" name="simple_search"}
            <fieldset>
              <div class="input"><input type="text" name="keywords" id="keywords" value="Wpisz szukaną frazę" title="Wpisz szukaną frazę" /></div>
                <button type="submit" value="Szukaj" title="Szukaj" class="btn btn_search"><i>Szukaj</i><em></em></button>
            </fieldset>
          {/exp:search:simple_form}
        </li>          
        <li class="to_medpass">
          <form action="http://pochp.net/">
            <fieldset>
              <button type="submit"><span>Rejestr POChP</span></button>
            </fieldset>
          </form>
        </li>
      </ul>
    </div>
  </div>
</div>