<div id="m">
  <div id="m-">
    <ul>
      <li id="m1" class="f"><a href="/" title="Strona główna">Strona główna</a></li>
      <li id="m2"><a href="/strony/o-programie" title="O programie">O programie</a></li>
      <li id="m3"><a href="/strony/dla-pacjentow-i-opiekunow" title="Dla pacjentów i&nbsp;opiekunów">Dla pacjentów<br />i opiekunów</a></li>
      <li id="m4"><a href="/strony/rehabilitacja" title="Rehabilitacja">Rehabilitacja</a></li>
      <li id="m5"><a href="/strony/dla-wolontariuszy" title="Dla wolontariuszy">Dla wolontariuszy</a></li>
      <li id="m6"><a href="/strony/edukacja" title="Edukacja">Edukacja</a></li>
      <li id="m7" class="l"><a href="/strony/bibioteka" title="Biblioteka">Biblioteka</a></li>
    </ul>
  </div>
</div>