{if embed:menu_id != 0}
<div id="cl">
    <div id="sm">
      <div id="sm-">
        {exp:channel:entries entry_id="{embed:menu_id}" dynamic="no"}
        {if menu_title}<h3>{menu_title}</h3>{/if}
        <ul>
          {menu_links}
            <li class="f"><a href="{link_adress}" title="{link_title}" class="em"><em class="red_gt">&gt;</em><i>{link_title}</i></a></li>
          {/menu_links}
        </ul>
        {/exp:channel:entries}
      </div>
    </div>
</div>
{/if}