﻿{embed="shared/head"}
{embed="shared/header"}
{embed="shared/menu"}
  <div id="c" class="page">
  <div id="c-">
    <div id="breadcrumb">
      <ul>
        <li class="f">Twoja lokalizacja</li>
        <li><a href="/" title="Strona główna" class="em gt"><em class="home">Strona główna</em></a></li>
        <li><a href="#" title="Wyniki" class="em gt"><em class="gt">&gt;</em><i>Wyniki wyszukwiania</i></a></li>
      </ul>
    </div>
    <div id="c--">
      <div id="cr" style="width: 940px">
        <div class="section article txt">
          <div class="header">
            <h2>Wyniki wyszukwiania</h2>
          </div>
          <div class="content">
             <h3>Szukana fraza "{exp:search:keywords}" nie została znaleziona.</h3>        
          </div>
        </div>
      </div>
    </div>
    <div id="footer_page_bg"><img src="/images/bg_people.png" /></div>
  </div>
  
</div>
{embed="shared/footer"}