{embed="shared/head"}
{embed="shared/header"}
{embed="shared/menu"}
<div id="c" class="ekp">
  <div id="c-">
    <div id="breadcrumb">
      <ul>
        <li class="f">Twoja lokalizacja</li>
        <li><a href="/" title="Strona główna" class="em gt"><em class="home">Strona główna</em></a></li>
        <li><a href="/elektroniczna_karta_pacjenta" title="Elektroniczna Karta Pacjenta" class="em gt"><em class="gt">&gt;</em><i>Elektroniczna Karta Pacjenta</i></a></li>
      </ul>
    </div>
    <div id="c--">
      <div class="header">
        <h2>Elektroniczna Karta Pacjenta</h2>
        <span>Twoje dane z Elektronicznej Karty Pacjenta</span>
      </div>
        {exp:ptpz:ekp_data}
    </div>
    <div id="footer_doctor_bg"><img src="/images/bg_doctor.png" /></div>
  </div>
  
</div>
{embed="shared/footer"}