{embed="shared/head"}
{embed="shared/header"}
{embed="shared/menu"}
<div id="c" class="login ekp_login">
  <div id="c-">
    <div id="breadcrumb">
      <ul>
        <li class="f">Twoja lokalizacja</li>
        <li><a href="/" title="Strona główna" class="em gt"><em class="home">Strona główna</em></a></li>
        <li><a href="/elektroniczna_karta_pacjenta" title="Elektroniczna Karta Pacjenta" class="em gt"><em class="gt">&gt;</em><i>Elektroniczna Karta Pacjenta</i></a></li>
      </ul>
    </div>
    <div id="c--">
       <div id="cl">
        <div class="header">
          <h2>Elektroniczna Karta Pacjenta</h2>
        </div>
        <div class="content">
          
          {exp:ptpz:ekp_log_in}
          <div id="login_ekp">
          <form method="POST">
            <div class="pesel"><label>Nr. Pesel:</label> <input type="text" name="pesel" /></div>
            <div class="pin"><label>Kod Pin: </label> <input type="text" name="pin" class="pin" /></div>
            <div class="login-action"><input type="submit" title="Zaloguj się" class="btn" value="Zaloguj się" name="LogIn"></div> 
          </form>
          </div>
        </div>
      </div>
      <div id="cr">
        <div class="login_menu">
          <p>Jeśli na wizycie u lekarza pulmonologa, zostałeś włączony do Rejestru Pacjentów z POChP, wpisz poniżej swój PESEL oraz otrzymany na wizycie unikalny KOD.</p>
          <p>Uzyskasz dzięki temu dostęp do Twoich aktualnych danych i historii Twojej choroby.</p>
        </div>
      </div>
    </div>
    <div id="footer_doctor_bg"><img src="/images/bg_doctor.png" /></div>
  </div>
</div>
{embed="shared/footer"}