{embed="shared/head" page_id="homepage"}
{embed="shared/header"}
{embed="shared/menu"}
  <div id="a">
    <div id="a-">
      <div class="carousel_wrapper">
        <span class="action_button prev">&gt;</span>
        <span class="action_button next">&lt;</span>
        {exp:channel:entries channel="banners" limit="1"}
        <div class="carousel">
            <ul>
                {banner}
                <li style="background: url('{banner_photo}') no-repeat scroll right top transparent;">
                  <h2 class="entry-title">{banner_title}</h2>
                  <div class="entry-summary">{banner_short_text}</div>
                  <div class="entry-content"><p>{banner_text}</p></div>
                  <div class="entry-action"><a href="{banner_adress}" title="Dowiedz się więcej" class="btn"><i>Dowiedz się więcej</i><em></em></a></div>
                </li>
                {/banner}
            </ul>
        </div>
    {/exp:channel:entries}
      </div>
    </div>
  </div>
  <div id="b">
    <div id="b-">
      <div class="hfeed">
        <div class="hentry f section-popchp">
          <h3 class="entry-title"><a href="{path="strony/pochp"}" title="POChP">POChP</a></h3>
          
          <div class="entry-content">
            <a href="{path="strony/co_to_jest_pochp"}" title="Co to jest POChP?">Co to jest POChP?</a><br />
            <a href="{path="strony/czynniki_ryzyka_pochp"}" title="Czynnki ryzyka POChP">Czynnki ryzyka POChP</a><br />
            <a href="{path="strony/jak_zapobiegac"}" title="Jak zpobiegać?">Jak zpobiegać?</a>
          </div>
          <div class="entry-image"><img src="/images/doctor.png" width="137" height="158"/></div>
          <div class="entry-action"><a href="{path="strony/pochp"}" title="Dowiedz się więcej" class="btn"><i>Dowiedz się więcej</i><em></em></a></div>
        </div>
        <div class="hentry section-spirometria">
          <h3 class="entry-title"><a href="{path="strony/spirometria"}" title="Spirometria">Spirometria</a></h3>
          <div class="entry-content">
            <a href="{path="strony/jak_rozpoznac_pochp"}" title="Jak rozpoznać POChP?">Jak rozpoznać POChP?</a><br />
            <a href="{path="strony/co_to_jest_spirometria"}" title="Co to jest spirometria?">Co to jest spirometria?</a><br />
            <a href="{path="strony/do_kogo_sie_zwrocic"}" title="Do kogo się zwrócić?">Do kogo się zwrócić?</a>
          </div>
          <div class="entry-image"><img src="/images/stetoskop.png" width="132" height="110"/></div>
          <div class="entry-action"><a href="{path="strony/spirometria"}" title="Dowiedz się więcej" class="btn"><i>Dowiedz się więcej</i><em></em></a></div>
        </div> 
        <div class="hentry section-palenie-papierosow">
          <h3 class="entry-title"><a href="{path="strony/palenie_papierosow"}" title="Palenie papierosów">Palenie papierosów</a></h3>
          <div class="entry-content">
            <a href="{path="strony/dlaczego_palenie_jest_zle"}" title="Dlaczego palenie jest złe?">Dlaczego palenie jest złe?</a> <br />
            <a href="{path="strony/jak_rzucic"}" title="Jak rzucić?">Jak rzucić?</a> <br />
            <a href="{path="strony/leczenie_uzaleznienia"}" title="Leczenie uzsleżnienia">Leczenie uzależnienia</a> 
            <a href="{path="strony/palenie_choroba_zakazna"}" title="Palenie choroba zakaźna">Palenie choroba zakaźna</a>
          </div>
          <div class="entry-image"><img src="/images/doctor-card.png" width="93" height="140"/></div>
          <div class="entry-action"><a href="{path="strony/palenie_papierosow"}" title="Dowiedz się więcej" class="btn"><i>Dowiedz się więcej</i><em></em></a></div>
        </div>
       </div>
     </div>
     <div id="b--">
        <div class="hfeed">
        <div class="hentry f">
          <h3 class="entry-title"><a href="{path="strony/rejestr_lekarzy"}" title="Rejestr Lekarzy">Rejestr Lekarzy</a></h3>
          <div class="entry-content"><p>Uzyskanie uprawnień do korzystania z&nbsp;Rejestru POChP</p></div>
          <div class="entry-action">
              <a href="http://pochp.net/" title="zarejestruj się"><em>&gt;</em>zarejestruj się</a>
          </div>
        </div>
        <div class="hentry m">
          <h3 class="entry-title"><a href="{path="elektroniczna_karta_pacjenta"}" title="Elektorniczna Karta Pacjenta">Elektorniczna Karta Pacjenta</a></h3>
          <div class="entry-content"><p>Uzyskanie uprawnień do korzystania z&nbsp;Elektronicznej Karty Pacjenta</p></div>
          <div class="entry-action">
              <a href="{path="elektroniczna_karta_pacjenta"}" title="zaloguj się"><em>&gt;</em>zaloguj się</a>
          </div>
        </div>    
        <div class="hentry l">
          <h3 class="entry-title"><a href="{path="pomoc"}" title="Pomoc">Pomoc</a></h3>
          <div class="entry-content"><p>Kontakt w przypadku trudności w&nbsp;poruszaniu się po portalu</p></div>
          <div class="entry-action">
              <a href="/pomoc" title="przejdź do działu pomocy"><em>&gt;</em>przejdź do działu pomocy</a>
          </div>
        </div>        
        </div>
      </div>
    </div>
  </div>  
{embed="shared/footer"}