{embed="shared/head"}
{embed="shared/header"}
{embed="shared/menu"}
<div id="c">
  <div id="c-">
    <div id="breadcrumb">
      <ul>
        <li class="f">Twoja lokalizacja</li>
        <li><a href="/" title="Strona główna" class="em gt"><em class="home">Strona główna</em></a></li>
        <li><a href="/dla-lekarzy" title="Dla lekarzy" class="em gt"><em class="gt">&gt;</em><i>Dla lekarzy</i></a></li>
        <li><a href="/login" title="Logowanie Medpass" class="em gt"><em class="gt">&gt;</em><i>Logowanie Medpass</i></a></li>
      </ul>
    </div>
    <div class="header">
      <h2>Dla lekarzy i pracowników opieki medycznej</h2>
      <span>Aby dostać się do stron dla Lekarzy, zaloguj się podając swój login Medpass:</span>
    </div>
    <div id="cl">
      <div id="login_medpass">
        <div class="input"><input type="text" /></div>
        <div class="login-action"><a href="#" title="Zaloguj się" class="btn"><i>Zaloguj się</i><em>&gt;</em></a></div> 
        <div>Nie masz loginu? <a href="#" title="Zarejestruj się">Zarejestruj się!</a></div>
      </div>
    </div>
    <div id="cr">
      <div id="sm" class="login_menu">
        <div id="sm-">
          <h3>Logując się otrzymujesz:</h3>
          <ul>
            <li id="sm1" class="f em"><em class="red_gt">&gt;</em><i>Dostęp do artykułów i materiałów szkoleniowych,</i></li>
            <li id="sm2" class="em"><em class="red_gt">&gt;</em><i>Możliwość korzystania z Rejestru Pacjentów POChP,</i></li>
            <li id="sm3" class="em"><em class="red_gt">&gt;</em><i>Konto Medpass uprawniające do dostępu do wielu polskich portali o tematyce medycznej, m.in:
              <ul>
                <li><em>&bull;</em>openmedica.pl</li>
                <li><em>&bull;</em>kardiolog.pl</li>
                <li><em>&bull;</em>lekarzonkolog.pl</li>
                <li><em>&bull;</em>lekarzakaznik.pl</li>
                <li>... i wielu innych</li>
              </ul></i>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div id="footer_doctor_bg"><img src="/images/bg_doctor.png" /></div>
  </div>
  
</div>
{embed="shared/footer"}