{embed="shared/head"}
{embed="shared/header"}
{embed="shared/menu"}
  <div id="c" class="page pomoc">
  <div id="c-">
    <div id="breadcrumb">
      <ul>
        <li class="f">Twoja lokalizacja</li>
        <li><a href="/" title="Strona główna" class="em gt"><em class="home">Strona główna</em></a></li>
        <li><a href="{path="pomoc"}" title="Pomoc" class="em gt"><em class="gt">&gt;</em><i>Pomoc</i></a></li>
      </ul>
    </div>
    <div id="c--">
        <div id="cl" style="width:380px; margin-left:18px;">
            <div class="section article txt">
            <div class="header">
              <h2>Pomoc</h2>
            </div>
            <div class="content contact">
              {exp:ptpz:create_contact_form}
            </div>
          </div>
        </div>
        <div id="cr" style="width: 450px">
            <div class="section article txt">
                <p>Jeśli potrzebujesz pomocy, prosimy o kontakt <br/>z działem Helpdesk pod nr telefonu:<br/>
                <span class="phone">tel.: +48 (22) 894 06 33</span>
                </p>
                <p>
            lub pod adresem e-mail:<br/>
            <a href="helpdesk@connectmedica.com">helpdesk@connectmedica.com</a>
<br/><br/>
            Dział Helpdesk jest czynny<br/>
           pn.-pt. w godz. 9.00-17.00</p>
        </div>
    </div>
    <div id="footer_page_bg"><img src="/images/bg_people.png" /></div>
  </div>
  
</div>
</div>
{embed="shared/footer"}