{embed="shared/head"}
{embed="shared/header"}
{embed="shared/menu"}
<div id="c" class="page">
  <div id="c-">
    <div id="breadcrumb">
      <ul>
        <li class="f">Twoja lokalizacja</li>
        <li><a href="/" title="Strona główna" class="em gt"><em class="home">Strona główna</em></a></li>
        {if embed:menu_id != 0}
            <li><a href="#" title="{title}" class="em gt"><em class="gt">&gt;</em><i>{menu_title}</i></a></li>
        {/if}
        {exp:channel:entries channel="pages" limit="1" sort="asc"}
        <li><a href="#" title="{title}" class="em gt"><em class="gt">&gt;</em><i>{title}</i></a></li>
      </ul>
    </div>
    <div id="c--">
        {embed="shared/menu_pacjenci" menu_id="{site_menu}"}
        <div id="cr" {if {site_menu} == 0}style="width: 940px"{/if}>
          <div class="section article txt">
            <div class="header">
              <h2>{title}</h2>
              {if site_subtitle}<span class="subtitle">{site_subtitle}</span>{/if}
            </div>
            <div class="content">
              {if site_abstract}{site_abstract}{/if}
              {site_content}
            </div>
          </div>
          {/exp:channel:entries}
        </div>
    </div>
    <div id="footer_page_bg"><img src="/images/bg_people.png" /></div>
  </div>
  
</div>
{embed="shared/footer"}