/* reset css */
	body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,hr{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img,input,textarea,hr,abbr{border:0;}address,caption,cite,code,dfn,em,strong,th,var,i,span,a,strong,small,big,input,textarea{font-style:normal;font-weight:normal;}ol,ul {list-style:none;}caption,th {text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight: bold;}q:before,q:after{content:'';}

	strong {font-weight:bold;}
	em, em span {font-style:italic;}
	a {cursor:pointer;text-decoration:none;color:#dd0000;}
    a:hover {color:#3B5990; text-decoration: none;}
	a:link {outline:none;}
	legend, .hidden {display:none;}
	input, select, textarea {padding:2px 4px;margin:0; overflow: visible; }
	button {display:block;border:0;float:left;background:transparent;overflow:hidden}
	div.boolean input, div.radio input {width:13px;height:13px;background-color:#fff; margin: 5px 5px 0 0; cursor: pointer; }
	button, .fib input, select, option, label.radio, label.collection_radio, label.boolean {cursor:pointer;}
	html,body {padding-bottom:1px;width:100%;height:100%; font-size: 12px; line-height: 20px; color: #444;}
	html,body,a,input,select,textarea {font-family: Verdana, Helvetica, sans-serif;}
	div {clear: both;overflow: hidden;}
	abbr {padding: 2px 5px;}
	img {display: block; }
  
/* grid */
#home, #m, #a, #b, #f, #c {width:100%;}  
#t-, #m-, #a-, #b-, #f-, #c- {margin: 0 auto;}
#t-, #a-, #f- {width:940px;}
#m- {width:985px;height:70px;}
#c- {width:975px; overflow:visible;}
#b-, #b--{width:980px; display:block;}
#b--{margin:60px auto 30px; overflow:visible;}
#tl {width:180px;}
#tr {width:525px;}
#c {padding-bottom: 200px; }
#home #c {padding-bottom: 200px;}



/* float: left */
#fl, #cl, #tl, #b .hentry, #ft ul {
  float:left;
}

/* float: right */
#fr, #cr, #tr, #ft ol {
  float:right;
  clear:none;
}

/* media */
#m-, 
#t h1 a, 
#tr .input,
#tr .to_medpass button,
.btn em,
.carousel_wrapper .action_button,
.em em
{background-image: url(../images/sprite.png);background-repeat:no-repeat;background-color:transparent;}

body.home {background: transparent url(../images/body_home.gif) no-repeat 50% 0;}
body{background: #f5fcff url(../images/bg_top.gif) no-repeat 50% 0;}
#c{background: #f5fcff url(../images/bg_bottom.gif) no-repeat 50% 100%; position:relative; overflow: visible !important;}
h3 {  font-size:18px;  line-height:20px;  color:#334e7f;  padding-bottom: 15px; }
h3 a {font-family:Museo700;}

/* ikonki */
.em em{  display:block;  text-indent:-99999em;}
.em .home{  background-position: -535px 0;  width:17px;  height:17px;}
.em .gt{  background-position: -557px 0;  width:5px;  height:17px;  float:left;  margin-right:10px;}

em.red_gt{  background: url(../images/sprite.png) -570px 0 transparent;  width:19px;  height:18px;  float:left;  margin-right:10px; margin-top:2px; text-indent:-9999em; display:block;}

/* ikony partnerow w stopce */
.partner_ico{
  width:235px;
  height:40px;
  text-indent:-99999em;
  display:block;
}
a.partner_ico:hover {background-position:0px -40px;}
.novartis{
  background-position:-84px -178px;
}
.novartis:hover{
  background-position:-84px -218px;
}

.ptpz{
  background-position:-319px -178px;
}
.ptpz:hover{
  background-position:-319px -218px;
}

.lubie_pomagac{
  background-position:-554px -178px;
  margin-left:47px;
}
.lubie_pomagac:hover{
  background-position:-554px -218px;
}

/* top */
#t- {  height:79px;  padding-top:49px;}
#t h1 a {  text-indent:-99999em;  background-position:0 0;  width:171px;  height:37px;  display:block;}
#t h1 a:hover {  background-position:0 -37px;  color:#fff;}
#tr .search_form {  width:330px;  float:left;}
#tr .search_form .input {  background-position:-171px 0;  width:169px;  height:40px;  float:left;  padding-top:4px;}
#tr .search_form input {  border:none;  background-color:transparent;  font-size: 12px;  height: 30px;  line-height:22px;  color:#898888;  width:158px;  padding: 3px 10px;}
#tr .search_form .btn_search {  font-size:18px;  line-height:26px;  color:#ffffff;  float:left;  display:block;   margin-left:20px; width: 140px;  height:40px;  cursor:pointer; font-family: Museo500;}
#tr .search_form .btn_search em { float:right; margin-top:3px;}
#tr .to_medpass {  width:195px;  float:right;  text-align:right;}
#tr .to_medpass button {  background-position:-342px 0;  width:170px;  font-size:18px;  line-height:20px;  height:48px;  float:right;}
#tr .to_medpass:hover label {  color: #676666}
#tr .to_medpass button span{ font-family:Museo500;  color:#fff;  font-size:18px;  line-height:24px;  display:block;  position:relative;  top:-4px;}
#tr .to_medpass label {  display:block;  clear:both;  font-size:11px;  line-height:14px;  margin-right:10px;  letter-spacing:-0.5px;}

/* menu */
#m li {  float:left;  display:inline;  list-style:none;  background:transparent url(../images/mli.gif) no-repeat 0 50%;}
#m li.f {  background-image:none;}
#m li#m3 a{padding:14px 34px 9px}
/*#m li#m5 a{padding:14px 16px 9px}*/
#m li a {  display:block;  text-decoration:none;  color:#334e7f;  font-size:13px;  line-height:16px;  height:40px;  padding:23px 16px 0;  text-align:center; font-family:Museo500; min-width: 100px; max-width: 150px}
#m li.f a{  padding-left:22px;}
#m li.l a{  padding-left:22px;  padding-right:22px;}
#m li a:hover {  color: #fff;  background:transparent url(../images/mhover.gif) repeat-x 0 0;  height:41px;}
#m li#m1 a:hover {-webkit-border-top-left-radius: 5px;-webkit-border-bottom-left-radius: 5px;-moz-border-radius-topleft: 5px;-moz-border-radius-bottomleft: 5px;border-top-left-radius: 5px;border-bottom-left-radius: 5px;}
#m li#m7 a:hover {-webkit-border-top-right-radius: 5px;-webkit-border-bottom-right-radius: 5px;-moz-border-radius-topright: 5px;-moz-border-radius-bottomright: 5px;border-top-right-radius: 5px;border-bottom-right-radius: 5px;border-bottom-right-radius: 5px;}
#m- {  background-position: 0 -75px; }
#m li ul{
    display: none;
    position: absolute;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-right-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

}
#m li:hover ul{
    display: block;
    z-index: 1000000;
    -moz-box-shadow: 4px 4px 4px #ccc;
    -webkit-box-shadow: 4px 4px 4px #ccc;
    box-shadow: 4px 4px 4px #ccc;
}
#m li ul li{
    margin-left: 2px;
    background:#fff;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    float: none;
    display: block;
}
#m li ul li a{
    padding:13px 13px 0;
    height:30px;
    max-width: 215px;
    text-align: left;
}
#m li ul li a:hover{
    height:30px;
}
#m li ul li:last-child{
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-right-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
#c-- {background-color:#ffffff; -webkit-border-radius: 10px;  -moz-border-radius: 10px;  border-radius: 10px; -moz-box-shadow: 3px 3px 5px #C4CCD3; -webkit-box-shadow: 3px 3px 5px #C4CCD3; box-shadow: 3px 3px 5px #C4CCD3; margin-bottom:30px; border:1px solid #e4e4e4;}

/* HOME SECTION */
#a .entry-title {  font-family:Museo700;  color:#e50000;  font-size:36px;  line-height:42px;  margin-top:44px;  width:530px;}
#a .entry-summary { font-family:MuseoSlab300;  font-size:17px;  line-height:20px;  color:#404c5a;  width:530px;}
#a .entry-content, #a .entry-action {float:left; width:530px;}
#a .entry-content p {  padding:15px 0 22px;  font-size:12px;  line-height:22px;  color:#444;  float:left;  width:530px; font-family:MuseoSlab300;}
#a .carousel{  width:1000px!important;  clear:none;}
#a .carousel li {  width:955px;  background:transparent url(../images/starsze-malzenstwo.png) no-repeat 100% 0;  height:315px;  padding-left:43px;}
#a .carousel_wrapper .action_button {  width:42px;  height:112px;  text-indent:-99999em;  display:block;  cursor:pointer;  margin-top:85px;}
#a .carousel_wrapper .next {  background-position:-42px -178px;  float:right;}
#a .carousel_wrapper .prev {  background-position:0 -178px;  float:left;}
#a- {  width:1115px;  margin-top:6px;}
#a .btn {font-family:Museo700;  font-size:18px; line-height:24px; width:223px;}


#b{   padding:50px 0 20px;}
#b .hfeed .hentry.f { margin-left:0px;}
#b .hfeed .hentry .entry-title{  padding:10px 15px 2px;  float:left;  width:255px;}
#b .hfeed .hentry .entry-content{  float:left;  width:225px;  clear:none;  padding:5px 15px;}
#b .hfeed .hentry.section-palenie-papierosow .entry-content{ width:180px;  }
#b .hfeed .hentry .entry-title a{  color:#334e7f;  font-size:18px;  line-height:24px;  text-decoration:none; font-family:Museo700;}
#b .hfeed .hentry .entry-title a:hover {  color:#dd0000;}

#b-, #b- .hfeed {overflow:visible; height:150px;}
#b- .hfeed .hentry{  float:left;  width:300px;  height: 180px;  clear:none;  margin-bottom:0px;  margin-left:37px;  border:1px solid #e4e4e4;
  -webkit-border-radius: 10px;  -moz-border-radius: 10px;  border-radius: 10px;  overflow:visible; position:relative; -moz-box-shadow: 3px 3px 5px #C4CCD3; -webkit-box-shadow: 3px 3px 5px #C4CCD3; box-shadow: 3px 3px 5px #C4CCD3;}

#b-- .hfeed {  float:left;  width:978px;  height: 154px;  border:1px solid #e4e4e4;  -webkit-border-radius: 10px;  -moz-border-radius: 10px;  border-radius: 10px; overflow:visible; background: url("../images/bg_bottom_label.jpg") #ffffff left top repeat-x; -moz-box-shadow: 3px 3px 5px #C4CCD3; -webkit-box-shadow: 3px 3px 5px #C4CCD3; box-shadow: 3px 3px 5px #C4CCD3;}
#b-- .hfeed .hentry {display:block; float:left; clear:none; width:300px; border-left:1px solid #CAE3FF; height:154px;}

#b-- .hfeed .hentry.f {border-left:0px none; margin-right:18px;}
#b-- .hfeed .hentry.m {padding-left:18px; margin-right:18px;}
#b-- .hfeed .hentry.l {width:282px; padding:0 18px; }
#b-- .hfeed .hentry .entry-content {width:280px;}
#b-- .hfeed .hentry .entry-action {margin-top:7px;}
#b-- .hfeed .hentry .entry-action a {color:#5a8be3; text-decoration:underline; display:block; width:300px;}
#b-- .hfeed .hentry .entry-action a:hover {color:#2e6cdc; }
#b-- .hfeed .hentry .entry-action a em {background:url(../images/sprite.png) transparent -593px 5px no-repeat; width:15px; height:20px; margin-right:7px; float:left; text-indent:-9999em; clear:none;}

.hfeed .hentry .entry-action { float:left; margin:0px 0 0 15px; z-index: 100000}
.hfeed .hentry.section-palenie-papierosow .entry-action {margin:5px 0 0 15px;}
.hfeed .hentry .entry-action .btn {  width:150px;  font-size:12px; line-height:20px; padding:5px 7px;}
.hfeed .hentry .entry-action .btn i {  margin:0 15px 0 5px}
/*.hfeed .hentry .entry-action .btn i {margin-top:2px;} */

.hfeed .hentry.section-popchp .entry-image {position:absolute; bottom:-1px; left:190px;}
.hfeed .hentry.section-spirometria .entry-image {position:absolute; top:0; left:167px;}
.hfeed .hentry.section-palenie-papierosow .entry-image {position:absolute; bottom:-1px; left:208px;}


#breadcrumb{  margin: 20px 0 25px 18px;}
#breadcrumb li{  float:left;  display:inline;  color: #3b5990;}
#breadcrumb li a{  display:block;  float:left;  margin-left:10px;  color:#3b5990;  text-decoration: none;}
#breadcrumb li a:hover{  color:#DD0000;}
#breadcrumb li.f a {  margin-left:0}

.header {padding-bottom: 60px;}
.header h2 {   font-size: 24px;    line-height: 36px;    color: #3B5990;}
.header span {  font-size: 14px;  line-height:16px; margin-top:20px; float:left;}


.btn {
  float: left;
  text-decoration:none;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background:#669cff url(../images/btn_bg.gif) repeat-x 0 0; 
  display:block;
  padding: 8px 10px; 
  overflow:hidden;
  font-size:14px;
  line-height:20px;
  color:#ffffff;
}

.btn i, .btn em {
  float:left;
  display:block;
} 
.btn i {
  margin:0 20px 0 10px;
  color:#ffffff;
  font-family:Museo500; 
}

.btn em {
  text-indent:-99999em;
  background-position:-517px 0px;
  width:17px;
  height:17px;
  margin-top:1px;
}

.btn:hover {
  background-position: 0 -42px;
  color:#ffffff;
}

.btn:hover em{
  background-position:-517px -17px;
}

/* PAGE SECTION */
.page #cl {clear:none; padding:18px;}
.page #cr {width:710px; margin-right:10px;}
.page .section {margin:18px 0 25px; padding-right:18px;}
.page #sm {width:160px;background:url(../images/bg_submenu.jpg) left bottom #ffffff repeat-x; border:1px solid #cbe3ff; -webkit-border-radius: 10px;  -moz-border-radius: 10px;  border-radius: 10px; -moz-box-shadow: 3px 3px 5px #C4CCD3; -webkit-box-shadow: 3px 3px 5px #C4CCD3; box-shadow: 3px 3px 5px #C4CCD3;padding:20px}

#sm h3 {  font-size:18px;  line-height:20px;  color:#334e7f;  padding-bottom: 15px;}
#sm li {display:block; padding-bottom:17px; font-size:12px; line-height:18px; clear:both;padding:7px 0; border-bottom:1px solid #cbe3ff; float:left;}
#sm li a {color:#898888; text-decoration:none; display:block; float:left; width:160px; }
#sm li a:hover {color:#dd0000; }
#sm li.active a {color:#5a8be3;font-weight:bold;}
#sm li i {display:block; padding-left:30px; }
#sm li li {padding-bottom:0px;}
#sm li li em { color: #dd0000; text-indent:0; background: none; float: left; padding-right:8px;}


/* LOGIN SECTION */
.login #cl {width:518px; padding:18px 0 18px 18px;}
.login #cr {width:430px;}
.login .header {padding-bottom:20px;}
.login p {margin-bottom:15px;}

.login_menu {width:366px; margin:75px 25px 30px 10px; border:1px solid #E4E4E4; -webkit-border-radius: 10px;  -moz-border-radius: 10px;  border-radius: 10px; -moz-box-shadow: 3px 3px 5px #C4CCD3; padding:18px;}
.login_menu h3 {  font-size:18px;  line-height:20px;  color:#334e7f;  padding-bottom: 15px;}
.login_menu li, .ekp_visit_list li {display:block; padding-bottom:17px; font-size:12px; line-height:22px; clear:both;padding:7px 0;  float:left; width:100%}
.login_menu li i,  .ekp_visit_list li i {display:block; padding-left:30px; }
.login_menu li li,  .ekp_visit_list li li {line-height:12px;}
.login_menu li li em,  .ekp_visit_list li li em { color: #dd0000; text-indent:0; background: none; float: left; padding-right:8px;}

#login_ekp {margin-top:20px;}
#login_ekp label {float:left; width:90px; clear:left;}
#login_ekp span {float:left; margin-left: 90px;}
#login_ekp .login-action {margin-top:20px; float:left; width:100%}
#login_ekp .login-action a {color:#ffffff; font-family:Museo500;  }
#login_ekp .login-action .btn {font-size:12px; line-height:14px; padding:5px 7px; width:140px; height:30px; margin-left: 295px; border:0 none;}
#login_ekp  input {  margin-bottom:20px;}
#login_ekp  input.pin {  margin-bottom:0px;}

/* EKP SECTION */
.ekp #cl, .ekp #ca {float:left;width:330px;margin-right:50px; padding-left:18px;}
.ekp #cr{float:right;width:565px; margin-top:-60px;margin-bottom:20px}
.ekp #ca {display: none;}

.ekp .header {padding:18px;}
.ekp .ekp_actions {float:right;margin-right:30px; height:30px;}
.ekp .ekp_actions a { margin-right:15px}
.ekp_visit_list {float:right; margin-right:15px; }
.ekp_data {font-size:14px; line-height:20px; color:#3B5990; display:block;}
.ekp_user_data li {margin-bottom:15px; }
.ekp_visit_list li {margin-bottom:5px; width:100% }
.ekp_visit_list {width:500px; border:1px solid #E4E4E4; -webkit-border-radius: 10px;  -moz-border-radius: 10px;  border-radius: 10px; -moz-box-shadow: 3px 3px 5px #C4CCD3;padding:18px;}
.ekp_visit_list span {clear:both;}
.ekp_visit_list .visit_title {clear:both; display:block; color:#898888; list-style:none; margin-top:10px;}


.ekp_visit_list .visit_nearest_main {color: #898888; line-height:40px; margin-top:20px; float:left; }
.ekp_visit_list .visit_nearest_main span {font-family:Museo500; color: #334E7F; font-size: 18px; line-height:24px; clear: none; }
.toggle_doctors_visits, .toggle_phone_visits {margin-top:20px; display:block; margin-bottom:7px; clear:none; float:right;}
a.toggle_doctors_visits:hover, a.toggle_phone_visits:hover {color:#ffffff;}
.ekp_visit_list .ekp_visit_list_content .visit_status_done{color: #898888;}
.ekp_visit_list .ekp_visit_list_content .visit_status_nearest{color: #DD0000;}
.ekp_visit_list .ekp_visit_list_content .visit_status_future{color: #334E7F;}

.ekp_visit_list .doctors_visits { display: none; }
.ekp_visit_list .phone_visits { display: none; }

/* POMOC SECTION */
.pomoc form input[type=submit] {margin-top:10px;background:#669cff url(../images/btn_bg.gif) repeat-x 0 0;   display:block;  padding: 8px 10px;   width:100px;    overflow:hidden;  font-size:12px;  line-height:24px;  color:#ffffff;}
.pomoc form input[type=submit]:hover {background-position: 0 -42px;}
form label {width:150px; display: block; margin:10px 0 2px; }
.pomoc span.phone {font-size:22px; line-height:26px; margin:10px 0; float:left; color:#3B5990}






/* FOOTER */
#footer_page_bg {   position:absolute;  bottom:-100px;  left:56%;}
#footer_doctor_bg {   position:absolute;  bottom:-55px;  left:61%;}
#ft{  margin-top:20px;}
#ft ul{  width:180px;}
#ft ul li{ font-family:Museo500;  font-size:12px;  line-height:50px;}
#fb p{  font-size:11px;  line-height:20px;}
#fb{  margin:15px 0 25px; border-top: 1px solid #ccc; text-align: center}
#ft div.partner_slider {width: 750px; overflow: hidden; float: right; clear: none; height: 40px;}
#ft ol{  width:1050px;  float: none;}
#ft ol li{ display:inline; width: 250px; float:left;}

/* FORM */
form input, form select, form textarea {
  background-color: #ffffff;
  border: 1px solid #989999;
  color: #2F4B7F;
  font-size: 12px;
  line-height:14px;
  width: 320px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius:5px;
  padding: 10px 12px;
}
form input:focus, form select:focus, form textarea:focus {border: 1px solid #2F4B7F;}


/* TXT CLASS */
.txt .header {padding-bottom:0;}
.txt .subtitle {color:#3B5990; font-size:14px; line-height:18px;}
.txt h3, .txt h4, .txt h5, .txt h6, .txt p, .txt ol, .txt dl, .txt h3, .txt h4, .txt h5, .txt h6, .txt hr { clear: both;  margin: 15px 0;  overflow: hidden;}
.txt h2 a, .txt h3 a, .txt h4 a, .txt h5 a, .txt h6 a, .txt strong a {  font-weight: bold;}
.txt h2 {    font-size: 24px;    line-height: 36px;    color: #3B5990;}
.txt h3 {    font-size: 18px;    line-height: 24px;    color: #3B5990;}
.txt h4 {    font-size: 14px;    line-height: 20px;    color: #3B5990;}
.txt h5 {    font-size: 12px;    line-height: 18px;}
.txt p {    font-size: 12px; text-align: justify;}
.txt h4, .txt h5, .txt h6 {    margin-top: 20px;}
.txt ul { margin-top:7px;}
.txt ul li {    clear: both;    list-style-position: inherit;    list-style-type: disc;}
.txt ul li, .txt ol li {    margin-bottom: 5px;    margin-left: 15px;    padding-left: 1px;}
.txt ul ul, .txt ol ol {    margin-bottom: 0;    margin-top: 0;    padding: 0;}
.txt ol, .txt ul {    clear: none;}
.txt ol li {    clear: both;}
.txt ol li ul {    float: none;}
.txt ol {    list-style-position: inside;    list-style-type: decimal;}
.txt ol li li {    padding-left: 18px;}
.txt ul.square-list {    list-style: square outside none;    padding-left: 35px;}
.txt ul.number-list {    list-style: decimal outside none;    padding-left: 35px;}
.txt ul.disc-list {    list-style: disc outside none;    padding-left: 35px;}
.txt table caption {    display: none;}
.txt table {    border: 1px solid rgba(255, 255, 255, 0.4);    border-collapse: collapse;    clear: both;    margin-bottom: 30px;    margin-top: 10px;    width: 99%;}
.txt table th {    border-collapse: separate;    border-bottom: 2px solid rgba(255, 255, 255, 0.4);    border-right: 1px solid rgba(255, 255, 255, 0.4);    font-weight: bold;    line-height: 32px;}
.txt table td {    font-size: 12px;    line-height: 22px;    padding: 10px 5px;    border:2px solid #aaa;}
.txt table td p { margin: 0; }
.txt table td, .txt table th {    text-align: center;}
.txt table .str_date, .txt table .end_date {    width: 140px;}
.txt table tr .f {    padding-left: 5px;    text-align: left;}
.txt sup, .txt sub {    font-size: 10px;    line-height: 5px;}
.txt i, .txt em {    font-style: italic;}
.txt strong {    font-weight: bold;}
.txt small {    font-size: 11px;    line-height: 19px;}
.txt big {    font-size: 17px;    line-height: 19px;}
.txt em {    font-style: italic;}
.txt blockquote {    font-style: italic;    margin: 20px 0 20px;    outline: medium none;    text-indent: 20px;}
/*.txt img {-moz-box-shadow: 3px 3px 5px #C4CCD3; -webkit-box-shadow: 3px 3px 5px #C4CCD3; box-shadow: 3px 3px 5px #C4CCD3;} */



@font-face {
    font-family: 'MuseoSlab300';
    src: url('font/museo_slab_300-webfont.eot');
    src: url('font/museo_slab_300-webfont.eot?#iefix') format('embedded-opentype'),
          url('font/museo_slab_300-webfont.woff') format('woff'),
          url('font/museo_slab_300-webfont.ttf') format('truetype'),
          url('font/museo_slab_300-webfont.svg#MuseoSlab300') format('svg');
    font-weight: 300;
    font-style: normal;

}

@font-face {
    font-family: 'Museo500';
    src: url('font/museo500-regular-webfont.eot');
    src: url('font/museo500-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/museo500-regular-webfont.woff') format('woff'),
         url('font/museo500-regular-webfont.ttf') format('truetype'),
         url('font/museo500-regular-webfont.svg#Museo500') format('svg');le: normal;

}

@font-face {
   font-family: 'Museo700';
    src: url('font/museo700-regular-webfont.eot');
    src: url('font/museo700-regular-webfont.eot?#iefix') format('embedded-opentype'),
          url('font/museo700-regular-webfont.woff') format('woff'),
          url('font/museo700-regular-webfont.ttf') format('truetype'),
          url('font/museo700-regular-webfont.svg#') format('svg');
    font-weight: 500;
    font-style: normal;
}

.footer-menu{
    border-top: 1px solid #ddd;
    padding-top: 15px;
    text-align:center;
}
.footer-menu ul{
    margin-left: 120px;
}
.footer-menu ul li{
    float: left;
    display: inline;
    list-style: none;
    margin-left: 30px;
}
.footer-menu ul li a{
    display: block;
    text-decoration: none;
    color: #334e7f;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    font-family: Museo500;
}
.footer-menu ul li a:hover{
    text-decoration: underline;
}


/* Pop-up */

#pop-up {
    background: #222;
    box-shadow: inset 0 45px 70px #000;
    bottom: 0;
    color: #ccc;
    display: none;
    left: 0;
    padding: 20px;
    position: fixed;
    text-shadow: 0 1px 2px #000;
    width: 100%;
    z-index: 999999999;
    text-align: center;
}

#pop-up input {
    /*background: url('../images/green-button.png') repeat-x 0 0 #035d10;*/
    border: 0;
    border-radius: 5px;
    box-shadow: inset 0 1px rgba(255,255,255,0.5), 0 1px 3px #000;
    color: #fff;
    font-weight: normal;
    height: 36px;
    line-height: 36px;
    margin: 1.5em 0 0;
    padding: 0 15px;
    text-shadow: 0 1px rgba(255,255,255,0.3);
    -webkit-transition: box-shadow 0.2s ease;
    transition: box-shadow 0.2s ease;
    float: none;
    display: inline;
}

#pop-up input:hover {
    box-shadow: inset 0 0 5px rgba(228,255,165,1), 0 1px 3px #000;
    cursor: pointer;
}

#pop-up input:active {
    padding-top: 1px;
}
